* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: opacity 0.25s;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
}
html, body {
	width: 100%;
	font-family: "Scada", sans-serif;
	background-color: #D5EDF7;
}
.inner {
	width: 1165px;
	margin: 0 auto;
}
.clear {
	width: 100%;
	height: 0;
	clear: both;
}
/** HEADER **/
header {
	height: 360px;
}
	header .bg-before {
		width: 50%;
		height: 360px;
		float: left;
		background: url('../images/header-bg-before.png') repeat-x 0 140px;
	}
	header .bg-after {
		width: 50%;
		height: 360px;
		float: right;
		background: url('../images/header-bg-after.png') repeat-x 0 40px;
	}
header .inner {
	position: relative;
	height: 360px;
}
header .logo{
	display: block;
	position: absolute;
	left: 0;
	top: 25px;
	width: 242px;
	height: 242px;
}
header .bg2 {
	height: 311px;
	background: url('../images/header-bg.png') no-repeat left bottom;
}
header #callback {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 122px;
	height: 60px;
	width: 265px;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding: 6px 20px 6px 55px;
	border: 2px solid #FFFFFF;
	border-radius: 28px;
	background: url('../images/callback-bg.png') no-repeat 20px 10px #FF1B3D;
}
	header #callback:hover {
		opacity: 0.75;
	}
header nav {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70px;
	border-radius: 15px;
	box-shadow: 0 1px 3px 1px #9AC0D4;
	background: url('../images/nav-bg.png') repeat-x 0 0;
	z-index: 999999;
}
header nav ul {
	font-size: 0;
	padding-left: 26px;
	padding-top: 5px;
}
header nav ul li {
	display: inline-block;
	height: 60px;
	width: 186px;
	border-collapse: collapse;
	border-left: 1px solid #549AAF;
	border-right: 1px solid #549AAF;
	margin-left: -1px;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	vertical-align: top;
	padding-top: 15px;
	transition: background-color 0.25s;
}
header nav ul li a {
	color: #1877A3;
	text-decoration: none;
	transition: color 0.25s;
}
header nav ul li:hover{
	/*border: none;*/
	background: #FF2D4A;
}
header nav ul li:hover a {
	color: #FFFFFF;
}
	header nav:before{
		content: "";
		display: inline-block;
		width: 38px;
		height: 32px;
		position: absolute;
		left: -38px;
		bottom: 8px;
		background: url('../images/nav-before.png') no-repeat 0 0;
	}
	header nav:after {
		content: "";
		display: inline-block;
		width: 38px;
		height: 32px;
		position: absolute;
		right: -38px;
		bottom: 8px;
		background: url('../images/nav-after.png') no-repeat 0 0;
	}
/** SLIDER **/
.slider {
	margin-top: 45px;
	width: 790px;
	height: 330px;
	float: left;
	background: url('../images/slide.jpg') no-repeat -2px -2px;
	border: 2px solid #FFFFFF;
	border-radius: 5px 5px 5px 110px;
	cursor: pointer;
	position: relative;
}
	.slider .text {
		width: 350px;
		height: 200px;
		position: absolute;
		top: 26px;
		left: 140px;
		font-style: italic;
		color: #1D7BD3;
		font-size: 18px;
		line-height: 28px;
	}
.contacts {
	margin-top: 45px;
	width: 340px;
	height: 330px;
	float: right;
	background: #A8D5EA;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
}
/** CONTENT **/
content {
	padding-top: 30px;
}
/** FOOTER **/
